<mat-card class="activity-cards" >
  <h2>Activity: </h2>
  <!--
    <div *ngFor="let activity of userProfile.ratings">
    <mat-card class="activity-card">
        <br>
        <div>
            <a (click)="userService.redirectById(review.createdById)">
                <img class="activity-avatar" mat-card-avatar src="{{review.createdBy.avatarUrl}}">
            </a>
            <a (click)="userService.redirectById(review.createdById)" class="review-name">
                {{review.createdBy.fullName}}
            </a>
            <span class="stars">
                {{review.rate}} / 5<i class="material-icons" style="color: orange ;">star</i>
            </span>
        </div>
        <br>
        <mat-card-content>
            <mat-card-subtitle class="review-comment">
                <span>{{review.comment}}</span>
            </mat-card-subtitle>
            <mat-card-subtitle class="review-date"><span><i>{{review.createdAt | date: 'medium'}}</i></span>
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>
</div>
  -->
</mat-card>