<div class="container new-game-dialog__container">
	<div>
		<mat-tab-group [selectedIndex]="selectedTab">
			<mat-tab label="Game options">
				<ng-template matTabContent>
					<section class="tab-container options-container">
						
						<div class="header-wrapper">
								<h2>New game</h2> 
								<button (click)="selectedTab=1" mat-icon-button>
										<mat-icon aria-label="stylize">color_lens</mat-icon>
								</button>
						</div>
						<table>
							<tr>
								<td>Your side: </td>
								<td>
									<mat-button-toggle-group class="options__toggle" [(value)]="side" name="side" aria-label="Side">
										<mat-button-toggle [value]="1" class="side__btn side__btn--white">White</mat-button-toggle>
										<mat-button-toggle [value]="0" class="side__btn side__btn--random">Random</mat-button-toggle>
										<mat-button-toggle [value]="2" class="side__btn side__btn--black">Black</mat-button-toggle>
									</mat-button-toggle-group>
								</td>
							</tr>
							<tr>
								<td >
									Play vs.
								</td>
								<td >
									<div class="game-mode">
											<div *ngIf="!opponent; else playerMode">
													<mat-button-toggle-group class="game-mode__toggle" [(value)]="opponentType" name="mode" aria-label="Game mode">
														<mat-button-toggle [value]="0" class="game-mode__btn game-mode__btn--computer">AI</mat-button-toggle>
														<mat-button-toggle [value]="1" class="game-mode__btn game-mode__btn--player">Player</mat-button-toggle>
														<mat-button-toggle [value]="2" (click)="selectedTab=2; opponentType=0" class="game-mode__btn game-mode__btn--friend">Friend</mat-button-toggle>
													</mat-button-toggle-group>
												</div>
												<ng-template #playerMode>
														<mat-chip-list>
														<mat-chip [removable]="true" (removed)="removeOpponent()">
																{{opponent.name}}
																<mat-icon matChipRemove>cancel</mat-icon>
															</mat-chip>
															</mat-chip-list>
												</ng-template>
									</div>
									
								</td>
							</tr>
							<tr (click)="isEnPassantOn = !isEnPassantOn" class="enPassant-chkbx">
									<td>
										en passant
									</td>
									<td>
										<mat-checkbox [(checked)]="isEnPassantOn" [color]="primary"></mat-checkbox>
									</td>
								</tr>
						</table>
					</section>
				</ng-template>
			</mat-tab>
			<mat-tab label="Styles">
				<ng-template matTabContent>
					<section class="tab-container theme-container">
							<h4>Board and pieces</h4>
						<section class="theme-container__board">
							<div class="board-prev" [ngStyle]="{'background-image': 'url(' + getBoardUrlPrev() + ')'}"></div>
							<mat-form-field class="theme-container__select">
								<mat-select placeholder="Board colors" [(value)]="boardColor.value">
									<mat-option *ngFor="let bc of boardColors" [value]="bc.value">
										{{bc.viewValue}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</section>
						<section class="theme-container__pieces">
							<div class="pieces-prev" [ngStyle]="{'background-image': 'url(' + getPieceUrlPrev() + '), url(' + getBoardUrlPrev() + ')'}"></div>
							<mat-form-field class="theme-container__select">
								<mat-select placeholder="Pieces style" [(value)]="pieceStyle.value">
									<mat-option *ngFor="let ps of pieceStyles" [value]="ps.value">
										{{ps.viewValue}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</section>
					</section>
				</ng-template>
			</mat-tab>
			<mat-tab label="Invocation">
				<ng-template matTabContent>
					<section class="tab-container invite-container">
						<app-users-table 
							(onUserSelected)="selectUser($event)"
						></app-users-table>
					</section>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</div>

	<mat-toolbar class="toolbar">
		<button mat-stroked-button (click)="back()">Back</button>
		<button *ngIf="selectedTab === 0" mat-stroked-button (click)="submit()" tabindex="0">Start</button>
	</mat-toolbar>
</div>
