<div class="padding bg-image landing-height"
fxLayout="column" fxLayoutAlign="center stretch">
    <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile >
            <h1 class="header">Play chess online for free</h1>
        </mat-grid-tile>
        <mat-grid-tile >
            <h2 class="sub-header">Placeholder for slider with random quotes about chess</h2>
        </mat-grid-tile>
        <mat-grid-tile >
            <button class="btn-singin" mat-flat-button color="primary" (click)="onSignInClick()">Play now</button> 
        </mat-grid-tile>
    </mat-grid-list>
</div>
      