<div class="container">
	<button mat-button (click)="openNewGameDialog();">New game</button>

	<app-chess-board 
		*ngIf="isGameInitialized;else boardPlaceholder"
		[gameSettings]="gameSettings" 
		(moveRequest)="onMove($event)"
		(opponentTurn)="toggleTurn($event)"
		>
	</app-chess-board>
	<ng-template #boardPlaceholder>
			<img src="../../../assets/images/Chess/prev.jpg">
	</ng-template>
	
	<app-move-tracker
		[moves]="commitedMoves"
		[opponent]="opponent"
		[isOpponentTurn]="isOpponentTurn"
		>
	</app-move-tracker>
</div>