.container {
    max-width: 280px;
    min-width: 220px;
    text-align: center;
}

.pieces-prev,
.board-prev,
.side__img {
    width: 200px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
}