<div class="container">
	<div class="item profile-info">

		<div class="avatar">
			<img [src]="(userProfile?.avatarUrl) ? userProfile.avatarUrl : '../../../../assets/images/anonAvatar.png'" [alt]="userProfile?.name + ' avatar'" height="100px" width="100px">
		</div>

		<div class="user-data">
			<div class="user-name">
				{{userProfile?.name}}
			</div>
			<mat-card-subtitle style="margin-top: 5px">
				Registration date : <span> {{userProfile?.registrationDate | date:'longDate'}}</span>
			</mat-card-subtitle>
			<mat-card-subtitle>
        Last seen : <span> {{userProfile?.registrationDate | date:'longDate'}}</span>
      </mat-card-subtitle>
      <a class="edit" routerLinkActive="active" [routerLink]="['./settings']">
        <mat-icon class="icon" aria-label="Profile edit button">mode_edit</mat-icon>
        Edit
      </a>
    </div>
	</div>

	<div class="left-cards" style="margin-top: 20px;" fxLayout fxLayoutAlign="center" fxLayout.xs="column" fxLayoutGap="20px">
		<div fxLayout="column" fxLayoutGap="20px" fxFlex="25%" fxFlex.sm="35%" fxLayout.xs="column" class="left-card">
			<div class="item" fxFlex>
				<div class="left-card">
					<h2 class="title">Games</h2>
          <mat-divider></mat-divider>
          <div class="item-data games-list">
            <mat-card-subtitle>No games in progress</mat-card-subtitle>
          </div>
				</div>
			</div>
			<div class="item" fxFlex>
				<div class="left-card">
					<h2 class="title"> Activity</h2>
					<mat-divider></mat-divider>
					<div class="item-data activity-list">
            <mat-card-subtitle>There is no recent activity to show</mat-card-subtitle>
          </div>
				</div>
			</div>

		</div>

	</div>
</div>
