.container {
	max-width: 1200px;
	min-width: 300px;
	margin: 0 auto;
	padding: 20px;
}

.item {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	background-color: white;
	padding: 20px;
}

.left-card {
	width: 100%;
}

.item-data {
	padding: 20px;
}

.card {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.avatar {
	width: 100px;
	margin: 20px;
	height: 100px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.child {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}


p {
	display: none;
	font-size: 12px;
	color: #ffffff !important;
	font-family: sans-serif;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 50px;
	cursor: pointer;
	text-decoration: none;
}


.avatar {
	&:hover .child,
	&:focus .child {
		-ms-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
	}

	&:hover .child:before,
	&:focus .child:before,
	&:hover p,
	&:focus p {
		display: block;
	}
}

.child:before {
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(52, 73, 94, 0.75);
}

.user-name {
	display: inline;
	font-weight: bold;
	font-size: 30px;
}

.social {
	display: none;
	float: right;
}

span {
	color: black;
}

.title {
	margin-top: 0;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

a {
	cursor: pointer;
}
