<div class="tab-container">
	<section class="move-tracker__tab-container">
		<section class="game-info-container">
			<div class="evaluation-value-container">
				+45
			</div>
			<div class="moves-container">
				<ul class="moves">
					<li class="move" *ngFor="let move of fullMoves; let i = index;">
						<span class="move-index">{{i + 1}} : </span>
						<div class="ply-container">
							<mat-chip-list>
								<div class="ply-list">
									<div>
										<mat-chip>{{move.ply.moveNext}}</mat-chip>
									</div>
									<div>
										<mat-chip *ngIf="move.ply2">{{move.ply2.moveNext}}</mat-chip>
									</div>
								</div>
							</mat-chip-list>
						</div>
					</li>
				</ul>
			</div>
		</section>
	</section>
	<mat-toolbar class="actions-toolbar">
		<section class="end-game-actions-container">
			<button mat-stroked-button>
				<mat-icon class="icon" aria-label="Draw button">sentiment_neutral</mat-icon>Draw
			</button>
			<button mat-stroked-button>
				<mat-icon class="icon" aria-label="Resign button">flag</mat-icon>Resign
			</button>
		</section>
		<section class="game-actions-container">
			<button mat-stroked-button [disabled]="!isMovesSwitchOn">
				<mat-icon class="icon" aria-label="Example icon-button with a heart icon">first_page</mat-icon>
			</button>
			<button mat-stroked-button [disabled]="!isMovesSwitchOn">
				<mat-icon class="icon" aria-label="Example icon-button with a heart icon">navigate_before</mat-icon>
			</button>
			<button mat-stroked-button [disabled]="!isMovesSwitchOn">
				<mat-icon class="icon" aria-label="Example icon-button with a heart icon">navigate_next</mat-icon>
			</button>
			<button mat-stroked-button [disabled]="!isMovesSwitchOn">
				<mat-icon class="icon" aria-label="Example icon-button with a heart icon">last_page</mat-icon>
			</button>
			<button mat-stroked-button>
				<mat-icon class="icon" aria-label="Example icon-button with a heart icon">settings</mat-icon>
			</button>
		</section>
	</mat-toolbar>
</div>