.tab-container {
	height: 450px;
    width: 400px;
	display: flex;
    flex-direction: column;
}

.move-tracker__tab-container {
	height: 370px;
	overflow: hidden;
}

.game-info-container {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
	flex: 2 0 auto;
	background-color: #fff;
}

.evaluation-value-container {
	background-color: #eaeaea;
}
.moves-container {
	flex: 2 0 auto;
	padding: 16px;
	overflow: overlay;
    height: 320px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.move {
	display: flex;
	align-items: center;
	margin-bottom: 7px;
}

.move-index {
	font-size: 14px;
	margin-right: 10px;
}

.ply-container,
.ply-list {
	display: flex;
	justify-content: space-between;
}

.ply-list {
	width: 160px;
}

.spinner-overlay {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    width: 100%;
	height: 100%;
    border-radius: 50%;
	background-color: rgba(39, 62, 84, 0.5);
	box-sizing: border-box;
}

.actions-toolbar {
	flex-wrap: wrap;
	justify-content: space-between;

	button {
		min-width: 30px;
		font-size: 12px;
	}

	.icon {
		font-size: 22px;
	}

	.game-actions-container {
		button {
			width: 30px;
			padding: 0;
		}
	}
}
