.container {
    height: 100%;
}

.opponent__card {
    min-height: 35px; 
    background-color: #D0D2D7;
}

.opponent__avatar {
    background-size: cover;
}

.moves-container {
    min-height: 100px;
    overflow: visible;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.move {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.move-index {
    font-size: 14px;
    margin-right: 10px;
}

.ply-container,
.ply-list {
    display: flex;
    justify-content: space-between;
}

.ply-list {
    width: 160px;
}