.container {
	position: relative;
	text-align: center;
}

.table-template-container,
.table-container,
table {
	width: 100%;
}

.table-container {
	min-height: 110px;
	overflow: auto;
}

tr:hover {
	background-color: #F5F5F5;
}
.users-table__wrapper {
    max-height: 200px;
    overflow: auto;
}
