.container {
    position: relative;
    text-align: center;
    min-height: 354px;
}

.spinner-overlay {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}

.table-template-container,
.table-container,
table {
    width: 100%;
}

.table-container {
    height: 300px;
    overflow: auto;
  }