<div class="container">
	<h4>Invite user</h4>
	<mat-form-field class="users-search">
		<input class="users-search__input" matInput placeholder="Search user" (input)="filterChange($event)" #searchInput
		 name="searchInput">
		<mat-spinner *ngIf="timeOutSearch" [diameter]="20" matSuffix></mat-spinner>
		<button matSuffix *ngIf="!timeOutSearch" mat-button mat-icon-button (click)="searchInput.value = null; resetSearchInput();">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>
	<div class="users-table__wrapper">
		<div *ngIf="isUsersLoading" class="spinner-overlay">
			<!-- 	<app-spinner-rect spinnerColor="#333"></app-spinner-rect> -->
		</div>
		<div class="table-template-container">
			<div class="mat-elevation-z8">
				<div class="table-container">
					<table mat-table [dataSource]="users">

						<!-- Name Column -->
						<ng-container matColumnDef="name">
							<th mat-header-cell *matHeaderCellDef> Name </th>
							<td mat-cell *matCellDef="let user"> {{user.name}} </td>
						</ng-container>


						<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
						<tr (click)="onUserSelected.emit(row);" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
				</div>

				<mat-paginator [length]="totalUsersCount" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
			</div>
		</div>
	</div>
</div>
