<mat-sidenav-container class="main-wrapper" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" position="end">
      <div fxLayout="column">
          <section class="user">
              <a class="user-image" routerLinkActive="active" [routerLink]="['/dashboard']" (click)="snav.toggle();">
                <img src="{{user.avatarUrl || defaultAvatarUrl}}">
              </a>
              <a class="user-name" routerLinkActive="active" [routerLink]="['/dashboard']" (click)="snav.toggle();">
                <h4>{{user.name}}</h4>
              </a>
          </section>
          
          <a class="nav-item" mat-button routerLinkActive="active" [routerLink]="['/play']" (click)="snav.toggle();">
            <mat-icon mat-list-icon>home</mat-icon> Play</a>
          <mat-divider></mat-divider>

          <a class="nav-item" mat-button routerLinkActive="active" [routerLink]="['/puzzles']" (click)="snav.toggle();">
            <mat-icon mat-list-icon>account_box</mat-icon> Puzzles</a>
          <mat-divider></mat-divider>

          <a class="nav-item" mat-button routerLinkActive="active" [routerLink]="['/rules']" (click)="snav.toggle();">
            <mat-icon mat-list-icon>account_box</mat-icon> Rules</a>
          <mat-divider></mat-divider>

          <a *ngIf="!isLoggedIn() else logout" class="nav-item" routerLinkActive="active" mat-button color="warn" (click)="onLoginClick();snav.toggle();">
              <mat-icon mat-list-icon>block</mat-icon> Login</a>

          <ng-template #logout>
              <a class="nav-item" routerLinkActive="active" mat-button color="warn" (click)="onLogoutClick();snav.toggle();">
                  <mat-icon mat-list-icon>block</mat-icon> Logout</a>
          </ng-template>
        </div>
  </mat-sidenav>

  <mat-sidenav-content class="page-wrapper">
      <mat-toolbar class="page-toolbar">
          <button mat-icon-button fxHide fxShow.lt-md="true" (click)="snav.toggle()">
              <mat-icon>menu</mat-icon>
          </button>

          <label class="companyName" [routerLink]="['/play']">Chess fury</label>
      </mat-toolbar>
      <main (click)="snav.close()" class="content">
          <router-outlet></router-outlet>
      </main>
  </mat-sidenav-content>
</mat-sidenav-container>