<form (submit)="signUpFormSubmit(user, form)" action="javascript:void(0)" #form="ngForm">

    <button class="social-btn" mat-raised-button type="button" (click)="signUpWithGoogle()"><img class="btn-logo" src="../../../../assets/images/googlelogo.png" alt="G" height="30">Sign Up with Google</button>
    <button class="social-btn" mat-raised-button color="primary" type="button" (click)="signUpWithFacebook()"><img class="btn-logo" src="../../../../assets/images/facebooklogo.png" alt="F" height="30">Sign Up with Facebook</button>
   
    <p class="devider">or</p>

    <mat-form-field class="input-field">
        <input id="nickname" name="nickname" type="text" [(ngModel)]="user.nickname" required matInput placeholder="Your nickname"
          #nickname="ngModel" autocomplete="on" maxlength="50">
        <mat-error *ngIf="nickname.errors && nickname.errors.required">
          nickname is
          <strong>required</strong>
        </mat-error>
    
        <mat-error *ngIf="nickname.errors && nickname.errors.maxlength">
          nickname <strong>cannot</strong> be more than 50 characters long
        </mat-error>
      </mat-form-field>

    <mat-form-field class="input-field">
      <input id="login" name="login" type="login" [(ngModel)]="user.login" required matInput placeholder="Your Email"
        #login="ngModel" autocomplete="on"
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        maxlength="50">
      <mat-error *ngIf="login.errors && login.errors.required">
        Email is
        <strong>required</strong>
      </mat-error>
  
      <mat-error *ngIf="login.errors && login.errors.pattern">
        Email is
        <strong>not valid</strong>
      </mat-error>
  
      <mat-error *ngIf="login.errors && login.errors.maxlength">
        Email <strong>cannot</strong> be more than 50 characters long
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="input-field">
      <input id="password" name="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" required matInput placeholder="Your Password"
        #password="ngModel"
        minlength="6"
        maxlength="30">
      <mat-icon class="finger" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="password.errors && password.errors.required">
        Password is
        <strong>required</strong>
      </mat-error>
  
      <mat-error *ngIf="password.errors && password.errors.maxlength">
        Password <strong>cannot</strong> be more than 30 characters long
      </mat-error>
      <mat-error *ngIf="password.errors && password.errors.minLength">
        Password <strong>have to be</strong> at least 6 chatacters long
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="input-field">
        <input id="repeatPassword" name="repeatPassword" type="password"
        appConfirmEqualityValidator="password"
        [(ngModel)]="repeatPass"
        required matInput placeholder="Confirm password" 
        #repeatPassword="ngModel">
    
        <mat-error *ngIf="repeatPassword.errors && repeatPassword.errors.required">
          Confirm your password
        </mat-error> 
        <mat-error *ngIf="repeatPassword.errors && repeatPassword.errors?.NotEqual && !repeatPassword.errors.required">
            Password missmatch
        </mat-error>
      </mat-form-field>
    <br>
  
    <mat-error class="firebase-error" *ngIf="firebaseError">
      {{firebaseError}}
    </mat-error>
  
    <button class="signUp-btn" type="submit" mat-button type="submit">Sign Up</button>
  </form>